:root {
  /* 浅色主题 */
  --color-900: #000000;
  --color-800: #1a1a1a;
  --color-700: #333333;
  --color-600: #4d4d4d;
  --color-500: #666666;
  --color-400: #808080;
  --color-300: #999999;
  --color-200: #b3b3b3;
  --color-100: #cccccc;
  --color-50: rgb(239, 239, 245);
  --color-0: #ffffff;
}

/* 深色主题 */
html[data-theme='dark'] {
  --color-900: #ffffff;
  --color-800: #cccccc;
  --color-700: #b3b3b3;
  --color-600: #999999;
  --color-500: #808080;
  --color-400: #666666;
  --color-300: #4d4d4d;
  --color-200: #333333;
  --color-100: #1a1a1a;
  --color-50: rgb(255 255 255 / 9%);
  --color-0: #18181c;
}

* {
  margin: 0;
  padding: 0;
}